<div>
    <h2>{{post_title}}</h2>
    <p>{{post_content}}</p>
    <p>Created by: {{user.username}} on {{format_date}}</p>
    <div>
        <h3>Comments</h3>
        {{#each comment}}
        <div>
            <p>{{comment_content}}</p>
            <p>Created by: {{user.username}} on {{format_date}}</p>
        </div>
        {{/each}}
</div>